body{
    background-image: url('../public/neon-lights-3d-3440x1440-12485.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 97.8dvh;
}
h1{
    text-decoration: underline;
    text-decoration-color: aqua;
    background-color: rgba(0, 0, 0, 0.56);
}
.input-task{
    padding: 7px;
    width: 30%;
    border: 0;
    box-shadow: none;
    outline: none;
}
.add-btn,.add-btn:hover{
    color: white;
    border: 1px solid aqua;
    background-color: black;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.completed{
    text-decoration:line-through;
    text-decoration-color: aqua;
    text-decoration-thickness: 6px;
}
@media(max-width:767px){
    .form-detail{
        width:100% !important;
        justify-content: center !important;
    }
    .button-div{
        display: flex ;
        justify-content: center ;
        margin-top: 20px !important;
    }
    .view-task{
        justify-content: center;
    }
    .view-task-text{
        padding-top: 8px;
    }
    .view-task-btn{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .del-btn{
        margin: 3px 10px !important;
    }
    .input-task{
        width: 50%;
    }
}